html, body, .full-height {
  height: 100%;
}

body {
  background: url('../images/brown-background.png');
  padding: 0;
  margin: 0;
}

.container {
  background: url('../images/paper-pattern.png');
  height: 100%;
  overflow: auto;
  padding: 0 8vw;
}

h1 {
  font-family: 'Vollkorn';
  font-size: 7vh;
}

p {
  font-family: 'Old Standard TT';
  font-size: 2.4vh;
  line-height: 1.5;
  padding-bottom: 25px;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.contact-list .panel-heading {
  background: orange;
  color: #eee;
}

.contact-list .list-group-item {
  padding: 0;
  white-space:nowrap;
  overflow: scroll;
}

.contact-list i {
  background: #444;
  width: 50px;
  text-align: center;
  border-right: 1px solid #888;
  padding: 10px 10px 10px 10px;
}

.contact-label {
  margin-left: 5px;
  font-family: 'PT Sans';
  font-size: 1.4vh;
  line-height: 1.5;
}


/* MEDIA QUERIES */

/* Extra-Small */
@media (max-width: 767px) {

}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large */
@media (min-width: 1200px) {

}
